*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 30%;
    height: auto;
    margin: 30px auto;
    
}

.banner{
    text-align: center;
    padding: 10px 0;
}

.text-input{
    display: block;
    margin: 10px 0 ;
}

input.text-input{
    height: 30px;
    width: 100%;
}

.text a{
    text-decoration: none;
    
}
.text p{
    text-align: right;
    margin: 2px 0;
}

.btn{
    height: 30px;
    width: 100%;
    background-color: blue;
    border: 0;
    margin : 15px 0;

}

.btn-login:hover {

    background-color: cadetblue;
    cursor: pointer;

}

.btn-face{
    border-radius: 9px;
    background-color: rgb(6, 53, 153);
    color: white;
}



